/* T H I N G S    T O     D O */

/* Center Everything */
* {
    text-align: center;
}

/* Styling the audio thing. All code from: */
/*https://blog.shahednasser.com/how-to-style-an-audio-element/*/

audio::-webkit-media-controls-panel {
    background-color:#8f8c6f ;
}
audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display{
    color:#f5f2d0;
}

/* Style buttons */
#TheButton,#musicButton,#deathBut {
    color:#f5f2d0;
    border: none;
    background-color:#8f8c6f ;
    border-radius: 4px;
    padding: 3px 20px;
    border: 1px solid #8f8c6f;
}

#TheButton:hover, #musicButton:hover, #deathBut:hover{
    color:#8f8c6f;
    background-color:#f5f2d0;
    border: 1px solid #8f8c6f;
}

/* Style headers and text and bg and pics */
#image, #image2{
    width: 400px;
    height: 400px;
}

h1,h2 {
    color:#8f8c6f;
    font-family: fantasy;
}

#pressH{
    font-weight: bold;
}

p {
    color:#8f8c6f;
    font-family: monospace;
    font-size: large;
}

#inputresponse{
    color: red;
}

body {
    background-color: #f5f2d0;
}